@theme inline {

  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(24px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes scale {
    from {
      opacity: 0;
      transform: scale(.98);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-fade-up:
    fade-up .6s cubic-bezier(.22,.61,.36,1);

  --animate-fade:
    fade .4s ease;

  --animate-scale:
    scale .5s cubic-bezier(.22,.61,.36,1);
}